# Feature Engineering
Para consultar nuestra API, requerimos una nueva columna que indique los sentimientos de las reseñas de usuarios. Usaremos una reconocida librería de procesamiento de lenguaje natural para facilitar este proceso.

## Importaciones

In [2]:
import pandas as pd
import json
from textblob import TextBlob

## Preparación de conjuntos de datos

In [3]:
# Extraer datos desde los archivos 'parquet' con información que se preparo en la etapa de ETL
df_games = pd.read_parquet('../Datasets/steam_games.parquet')
df_items = pd.read_parquet('../Datasets/user_items.parquet')
df_reviews = pd.read_parquet('../Datasets/user_reviews.parquet')

In [4]:
df_games.columns

Index(['genres', 'title', 'item_id', 'release_year'], dtype='object')

In [5]:
df_items.columns

Index(['item_id', 'playtime_forever', 'user_id'], dtype='object')

In [12]:
df_reviews.columns

Index(['user_id', 'user_url', 'posted', 'item_id', 'helpful', 'recommend',
       'sentiment_analysis'],
      dtype='object')

In [11]:
df_reviews

,user_id,user_url,posted,item_id,helpful,recommend,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2011-11-05,1250,No ratings yet,True,1
1,js41637,http://steamcommunity.com/id/js41637,2014-06-24,251610,15 of 20 people (75%) found this review helpful,True,1
3,doctr,http://steamcommunity.com/id/doctr,2013-10-14,250320,2 of 2 people (100%) found this review helpful,True,2
4,maplemage,http://steamcommunity.com/id/maplemage,2014-04-15,211420,35 of 43 people (81%) found this review helpful,True,1
5,Wackky,http://steamcommunity.com/id/Wackky,2014-05-05,249130,7 of 8 people (88%) found this review helpful,True,0
...,...,...,...,...,...,...,...
231273,kushikushigani,http://steamcommunity.com/id/kushikushigani,2015-12-30,332310,No ratings yet,True,1
231291,How51,http://steamcommunity.com/id/How51,2014-08-15,440,No ratings yet,True,1
231293,76561198111410893,http://steamcommunity.com/profiles/76561198111...,2014-08-02,304930,No ratings yet,True,1
231419,zaza147,http://steamcommunity.com/id/zaza147,2015-07-31,265630,No ratings yet,True,2
231499,lifeonhigh,http://steamcommunity.com/id/lifeonhigh,2015-12-20,304050,No ratings yet,True,1

## Análisis de sentimientos
Se pide crear una nueva columna llamada 'sentiment_analysis' que reemplace a 'review' donde se realice un análisis de sentimiento de los comentarios con la siguiente escala:

0 si es malo,<br>
1 si es neutral o esta sin review<br>
2 si es positivo.

In [8]:
from textblob import TextBlob

# Función para clasificar el sentimiento según la escala dada
def classify_sentiment(polarity):
    if polarity < -0.2:
        return 0
    elif polarity > 0.2:
        return 2
    else:
        return 1

# Aplicar el análisis de sentimiento y crear la nueva columna 'sentiment_analysis'
df_reviews['sentiment_analysis'] = df_reviews['review'].apply(lambda x: classify_sentiment(TextBlob(x).sentiment.polarity))

Finalmente, se elimina la columna de 'review'.

In [9]:
df_reviews = df_reviews.drop(columns=['review'])
df_reviews.columns

Index(['user_id', 'user_url', 'posted', 'item_id', 'helpful', 'recommend',
       'sentiment_analysis'],
      dtype='object')

In [10]:
#Verificamos si hay nulos
df_reviews.isnull().sum().sort_values(ascending=False)

user_id               0
user_url              0
posted                0
item_id               0
helpful               0
recommend             0
sentiment_analysis    0
dtype: int64

## Género y el año con más horas jugadas

Se crea el dataframe 'max_playtime_by_genre_year' con la información del año con más horas jugadas por género.

In [52]:
# Crear un dataframe combinando la información necesaria
combined_df = pd.merge(df_items, df_games[['item_id', 'release_year', 'genres']], on='item_id', how='left')

# Agrupar por género, año y sumar las horas jugadas
grouped = combined_df.groupby(['genres', 'release_year'])['playtime_forever'].sum().reset_index()

# Encontrar el año con más horas jugadas por género
max_playtime_by_genre_year = grouped.loc[grouped.groupby('genres')['playtime_forever'].idxmax()]

# Convertir la columna 'release_year' de flotante a entero
max_playtime_by_genre_year['release_year'] = max_playtime_by_genre_year['release_year'].astype(int)

# Mostrar el resultado
max_playtime_by_genre_year

                    genres  release_year  playtime_forever
26                  Action          2012        1085635110
59               Adventure          2011         221707756
71    Animation & Modeling          2015           1345545
75        Audio Production          2014            455463
104                 Casual          2015          81708365
109  Design & Illustration          2012           1930339
116           Early Access          2013         118902893
124              Education          2013            340567
141           Free to Play          2013         146213734
158                  Indie          2006         446115272
178  Massively Multiplayer          2013         133376503
186          Photo Editing          2014             61659
208                    RPG          2011         227959458
235                 Racing          2015          37474907
257             Simulation          2006         444536391
273      Software Training          2014            412697
288                 Sports          2015          41305040
314               Strategy          2013         145266750
324              Utilities          2014           2711695
333       Video Production          2015           1662650
337         Web Publishing          2012           1930339

Dataframe con el usuario que acumula más horas jugadas por género

In [55]:
# Combinar los dataframes df_games y df_items en función de 'item_id'
merged_df = pd.merge(df_games, df_items, on='item_id')

# Convertir las horas jugadas a horas en lugar de minutos
#merged_df['playtime_hours'] = merged_df['playtime_forever'] / 60

# Calcular la suma total de horas jugadas por usuario y género
user_genre_playtime = merged_df.groupby(['user_id', 'genres'])['playtime_forever'].sum().reset_index()

# Encontrar el usuario que acumula más horas jugadas por género
max_playtime_per_genre = user_genre_playtime.loc[user_genre_playtime.groupby('genres')['playtime_forever'].idxmax()]


# Imprimir o trabajar con los resultados
print("Dataframe con el usuario que acumula más horas jugadas por género:")
print(max_playtime_per_genre)

Dataframe con el usuario que acumula más horas jugadas por género:
                  user_id                 genres  playtime_forever
485519            Sp3ctre                 Action           1692650
472192       REBAS_AS_F-T              Adventure           2182066
479391         ScottyG555   Animation & Modeling            168314
447836        Lickidactyl       Audio Production            109916
472195       REBAS_AS_F-T                 Casual           1224933
479393         ScottyG555  Design & Illustration            168314
18051   76561197978756659           Early Access            316969
160609  76561198059330972              Education             65427
570659         idonothack           Free to Play            808241
472200       REBAS_AS_F-T                  Indie           2401378
417826        Evilutional  Massively Multiplayer            688260
483274           Sky_Wolf          Photo Editing             21885
634706        shinomegami                    RPG           1023495
412843    DownSyndromeKid                 Racing            743445
577998           jimmynoe             Simulation           1062130
447845        Lickidactyl      Software Training            109916
26187   76561197995725436                 Sports            193206
634711        shinomegami               Strategy           1104450
248243  76561198073642113              Utilities            207651
479403         ScottyG555       Video Production            168314
506902            Xyphien         Web Publishing            142964

In [56]:
max_playtime_per_genre.columns

Index(['user_id', 'genres', 'playtime_forever'], dtype='object')

Dataframe con la acumulación de horas jugadas por año de los usuarios del dataframe 'max_playtime_per_genre'

In [57]:
# Obtener los usuarios contenidos en el dataframe 'max_playtime_per_genre'
users_of_interest = max_playtime_per_genre['user_id'].unique()

# Filtrar el dataframe original de items para incluir solo a estos usuarios
filtered_items_df = df_items[df_items['user_id'].isin(users_of_interest)]

# Combinar los dataframes df_games y el filtrado de items en función de 'item_id'
filtered_merged_df = pd.merge(df_games, filtered_items_df, on='item_id')

# Calcular la suma total de horas jugadas por año
playtime_per_year = filtered_merged_df.groupby(['user_id', 'release_year'])['playtime_forever'].sum().reset_index()
playtime_per_year.rename(columns={'playtime_forever': 'playtime_total_minutes'}, inplace=True)

# Convertir las horas jugadas a horas en lugar de minutos
playtime_per_year['playtime_total_hours'] = playtime_per_year['playtime_total_minutes'] / 60

# Resumen de horas jugadas por año de los usuarios seleccionados por género
summary_playtime_per_year = playtime_per_year.groupby(['user_id', 'release_year'])['playtime_total_hours'].sum().reset_index()

print(summary_playtime_per_year)

Dataframe con la acumulación de horas jugadas por año de los usuarios contenidos en el punto 1:
               user_id  release_year  playtime_total_hours
0    76561197978756659        1998.0              0.000000
1    76561197978756659        1999.0              0.133333
2    76561197978756659        2000.0              0.000000
3    76561197978756659        2001.0              0.000000
4    76561197978756659        2003.0              0.000000
..                 ...           ...                   ...
292        shinomegami        2013.0          18116.283333
293        shinomegami        2014.0          18525.700000
294        shinomegami        2015.0          18367.966667
295        shinomegami        2016.0           2246.016667
296        shinomegami        2017.0              6.750000

[297 rows x 3 columns]

Dataframe con los top 3 juegos mas recomendado por año

In [14]:
# Filtrar las reseñas que son recomendadas y tienen comentarios positivos/neutrales
recommended_reviews = df_reviews[(df_reviews['recommend'] == True) & (df_reviews['sentiment_analysis'].isin([1, 2]))]

# Combinar la información de los juegos y las reseñas usando 'item_id'
merged_data = pd.merge(recommended_reviews, df_games, on='item_id')

# Obtener el top 3 de juegos más recomendados por año
top3_recomendados = merged_data.groupby(['release_year', 'title']).size().reset_index(name='recommendation_count')
top3_recomendados = top3_recomendados.sort_values(['release_year', 'recommendation_count'], ascending=[True, False]).groupby('release_year').head(3)

# Mostrar el DataFrame con el top 3 de juegos más recomendados por año
print(top3_recomendados)

      release_year                     title  recommendation_count
0           1989.0      Sword of the Samurai                     2
1           1990.0            Commander Keen                     3
2           1990.0                     LOOM™                     1
3           1991.0             Crystal Caves                     1
4           1992.0  Cosmo's Cosmic Adventure                     2
...            ...                       ...                   ...
2073        2016.0     Heroes &amp; Generals                   520
2095        2016.0              SpeedRunners                   340
2133        2017.0                  Unturned                  3820
2129        2017.0                 Robocraft                  1260
2106        2017.0     ARK: Survival Evolved                   730

[80 rows x 3 columns]

In [27]:
def UsersRecommend(anio):
    # Verificar si el año proporcionado tiene datos en el DataFrame top3_recomendados
    if anio not in top3_recomendados['release_year'].unique():
        return f"No hay datos disponibles para el año {anio}"

    # Filtrar el DataFrame top3_recomendados para el año proporcionado
    top_games_year = top3_recomendados[top3_recomendados['release_year'] == anio]

    # Verificar si hay menos de 3 juegos para el año consultado
    if len(top_games_year) < 1:
        return "No hay suficientes juegos para mostrar el top 3"

    # Reiniciar el índice del DataFrame filtrado por año
    top_games_year = top_games_year.reset_index(drop=True)

    # Obtener el top 3 de juegos más recomendados para el año dado
    top_3_games = top_games_year.head(3)

    # Crear una lista con el formato especificado
    top_3_list = []
    for index, row in top_3_games.iterrows():
        game_rank = index + 1  # Usar el índice + 1 como número de puesto
        game_dict = {"Puesto " + str(game_rank): row['title']}
        top_3_list.append(game_dict)

    return top_3_list

In [29]:
# Ejemplo de uso: Obtener el top 3 de juegos recomendados para el año 2022
anio_elegido = 1990
resultados = UsersRecommend(anio_elegido)
print(resultados)

[{'Puesto 1': 'Commander Keen'}, {'Puesto 2': 'LOOM™'}]

## Carga de los dataframe
Se almacenan los dataframes en formato Parquet para optimizar la estructura de datos en el despliegue.

In [30]:
dfs = [max_playtime_by_genre_year, max_playtime_per_genre, summary_playtime_per_year,top3_recomendados]
# Nombres correspondientes a cada DataFrame
names = ['max_playtime_by_genre_year', 'max_playtime_per_genre', 'summary_playtime_per_year','top3_recomendados']

for df, name in zip(dfs, names):
    archivo = f'../Datasets/{name}.parquet'
    df.to_parquet(archivo)
    print(f"DataFrame '{name}' guardado como '{archivo}'")

NameError: name 'max_playtime_by_genre_year' is not defined